@import "~bootstrap/dist/css/bootstrap.min.css";

.partition {
  height: 3px;
  border-radius: 60px;
  background-color: black;
}

.special {
  object-fit: contain;
    opacity: 0.3;
}



@media only screen and (max-width: 392px) {
  .wantTo {
    margin-left: 72px;
  }
}

